<main class="container">
  <div class="mt-3">
    <button
      id="newProduct"
      type="button"
      class="btn btn-dark mb-3"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <i class="bi bi-plus-square">New product</i>
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
          <th scope="col">Stock</th>
          <th scope="col">Category</th>
          <th scope="col">Menu</th>
        </tr>
      </thead>
      <tbody id="tbody">
        {{#each products}}
          <tr>
            <th scope="row">{{this.code}}</th>
            <td> {{this.title}}</td>
            <td> {{this.description}}</td>
            <td> {{this.price}}</td>
            <td> {{this.status}}</td>
            <td> {{this.stock}}</td>
            <td> {{this.category}}</td>
            <td>
              <div
                class="d-flex align-items-center justify-content-center gap-3 h-100"
              >
                <button
                  id="{{this._id}}"
                  onclick="editProduct('{{this._id}}')"
                  class="btn btn-info"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  onclick="deleteProductAdm('{{this._id}}')"
                  class="btn btn-danger"
                ><i class="bi bi-trash"></i></button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form
        id="form"
        class="modal-content"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New Product</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                name="title"
                class="form-control"
                id="title"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="mb-3">
              <label for="code" class="form-label">Code</label>
              <input
                type="text"
                name="code"
                class="form-control"
                id="code"
                required
              />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                name="price"
                min="1"
                class="form-control"
                id="price"
                required
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                name="stock"
                class="form-control"
                min="1"
                id="stock"
                required
              />
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <input
                type="text"
                name="category"
                class="form-control"
                id="category"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input
                type="text"
                name="description"
                class="form-control"
                id="description"
                aria-describedby="emailHelp"
                required
              />
            </div>
          </div>
          <div>
            <img
              src="\profiles\default.webp"
              class="img-thumbnail"
              alt="No hay imagen"
              style="width: 200px; height: 200px;"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            id="cancel"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cancel</button>
          <button
            type="submit"
            id="buttonSubmit"
            class="btn btn-primary"
          ></button>
        </div>
      </form>
    </div>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>